
body{
    margin: 0;
    background-color: #f3e9f1;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap ;
    justify-content: center;

}

.col{
    display: flex;
    flex-direction: column;
    
}

.header-content{
    width: 90%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
}

.logo{

    width: 303px;
}

.logo-orinoco{
    width: 302px;
}

.container{

    width: 90%;
    margin: auto;
    background-color: #fff ;
}

.content{
    padding: 40px;

}

.content-aside{
    
    width: 20%;
}


.content-showcase{
    width: 80%;
}

h1{
    margin: 0;
    text-align: center;
}

.content-filter{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.filter{

}

.products{

}

.product-item{
    width: 250px;
    height: 350px;
    background-color: #deccf3;
    box-sizing: border-box;
    margin-right: 30px;
    margin-bottom: 30px;

}

@media (max-width: 800px){
    .content-aside{
        width: 100%;
    }

    .content-showcase{
        width: 100%;
    }

}

footer{
    background-color: black;
}